@model ExerciseGO.Models.Video




<div class="outer">
    @*<div class="thumbnail container"style="width:750px; padding-bottom:20px;">*@
        <h1 style="color:ghostwhite">@Html.DisplayFor(model => model.VideoName)</h1>
        <iframe class="inner" @*style="border:0; margin:0; padding:0;"*@src="@Html.DisplayFor(model => model.VideoLink)"></iframe>
    @*</div>*@
</div>

