<div class="outer2">
    <div class="thumbnail container"style="margin-top:7%; width:700px; padding:15px;">
        <h1 style="padding-top:0px; padding-bottom:10px;margin:0px;">Gyms Near You</h1>
        <div id="map"></div>
    </div>
</div>