@{
    ViewBag.Title = "Home Page";
}
<div class="parallax"></div>

<div class="col-md-12" id="divider">
    <div class="col-md-4">
        <h1>GYM STUFF</h1>
    </div>
    <div class="col-md-4">
        <h1>STUFF</h1>
    </div>
    <div class="col-md-4">
        <h1>MORE STUFF</h1>
    </div>
</div>

<div class="grid">
    <div class="col-md-12" style="margin-left:75px; width:1349px;">
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_legs2.jpg" style="width:390px; " />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_1arms.jpg" style="width:390px;" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_back.jpg" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_chest.jpg" style="width:390px;" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_abs.jpg" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_cardio.jpg" />
        </div>
    </div>
</div>