@{
    ViewBag.Title = "Home Page";
}

<div class="parallax"></div>

<div class="col-md-12" id="divider">
    <div class="col-md-4">
        <h1>GYM STUFF</h1>
    </div>
    <div class="col-md-4">
        <h1>STUFF</h1>
    </div>
    <div class="col-md-4">
        <h1>MORE STUFF</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin-left:90px;">
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_legs2.jpg" style="width:390px; " />
        </div>
        <div id="armsClick" onclick="myFunction" class="col-md-4 armsClick" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_1arms.jpg" style="width:390px;" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_back.jpg" />
        </div>
    </div>
    <div class="row" style="margin-left:90px;">
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_chest.jpg" style="width:390px;" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_abs.jpg" />
        </div>
        <div class="col-md-4" style="padding-left:0px; padding-right:0px; width:390px;">
            <img src="~/Content/Image/rsz_cardio.jpg" />
        </div>
    </div>

</div>



<div class="row" id="arms" style="display:none">
    <h3>ARMS</h3>
    <img src="~/Content/Image/back.jpg" />
</div>


<div class="row" id="legs">
    <h3>Description</h3>

</div>

<div class="row" id="chest">
    <h3>Description</h3>

</div>


<div class="row" id="back">
    <h3>Description</h3>

</div>


<div class="row" id="abs">
    <h3>Description</h3>

</div>

<div class="row" id="cardio">
    <h3>Description</h3>

</div>




