



<div class="parallax">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <h1 style="font-family: 'Permanent Marker', cursive; color:ghostwhite;padding-top:400px;padding-right:20px;font-size:70px;">ExerciseGO</h1>
</div>

<div class="row dividerShadow" id="divider">
    <h1 style="color:#20e278;">TARGET AREAS</h1>
</div>

<div class="container-fluid" id="divContainer" style="margin-top:10px; ">
    <div class="row" style="margin-left:90px; margin-bottom:.5px;">

        <div class="col-md-4 col-sm-12 divGrid" onclick="myFunction()">
            <img class="img-responsive" src="~/Content/Image/rsz_legs2.jpg" style="width:390px; " />

        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="myFunctionOne()">
            <img class="img-responsive" src="~/Content/Image/rsz_1arms.jpg" style="width:390px; margin-right:.5px;" />
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="myFunctionTwo()">
            <img class="img-responsive" src="~/Content/Image/rsz_back.jpg" style="margin-left:.5px;"/>
        </div>
    </div>
    <div class="row" style="margin-left:90px; margin-top:.5px;">
        <div class="col-md-4 col-sm-12 divGrid" onclick="myFunctionThree()">
            <img class="img-responsive" src="~/Content/Image/rsz_chest.jpg" style="width:390px; " />
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="myFunctionFour()">
            <img class="img-responsive" src="~/Content/Image/rsz_abs.jpg" style="margin-right:.5px;"/>
        </div>
        <div class="col-md-4 col-sm-12 divGrid" onclick="myFunctionFive()">
            <img class="img-responsive" src="~/Content/Image/rsz_cardio.jpg" style="margin-left:.5px;"/>
        </div>
    </div>
</div>

@*legs div*@
<div class="container" id="legs" style="display:none; margin-top: 10px;">
    <a href="#" class="arrow" style="float:right;" onclick="closeWindow();"></a>
    <div class="row popUpDiv">

        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Legs Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/4"><img class="img-responsive" src="~/Content/Image/M Squats.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Legs Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/3"><img class="img-responsive" src="~/Content/Image/F Squats.png" /></a>
        </div>
    </div>

</div>

@*arms div*@
<div class="container" id="arms" style="display:none; margin-top: 10px;">
    <a href="#" class="arrow" style="float:right;" onclick="closeWindowOne();"></a>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Arms Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/12"><img class="img-responsive" src="~/Content/Image/menBicepScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Arms Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/21"><img class="img-responsive" src="~/Content/Image/bicepScreenshot.jpg" /></a>
        </div>
    </div>
</div>
@*back div*@
<div class="container" id="back" style="display:none; margin-top: 10px;">
    <a href="#" class="arrow" style="float:right;" onclick="closeWindowTwo();"></a>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Back Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/18"><img class="img-responsive" src="~/Content/Image/mensBackScreenshot.jpg" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Back Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/25"><img class="img-responsive" src="~/Content/Image/backScreenshot.jpg" /></a>
        </div>
    </div>
</div>

    @*chest div*@
    <div class="container" id="chest" style="display:none; margin-top: 10px;">
        <a href="#" class="arrow" style="float:right;" onclick="closeWindowThree();"></a>
        <div class="row popUpDiv">
            <div class="col-md-7">
                <div class="row">
                    <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
                </div>
                <div class="row">
                    <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                    <button class="btn btn-default btn-outline btn-circle">Chest Activity History</button>
                </div>
            </div>
            <div class="col-md-5">
                <a href="~/Videos/Details/16"><img class="img-responsive" src="~/Content/Image/M Chest.png" /></a>
            </div>
        </div>
        <div class="row popUpDiv">
            <div class="col-md-7">
                <div class="row">
                    <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
                </div>
                <div class="row">
                    <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                    <button class="btn btn-default btn-outline btn-circle">Chest Activity History</button>
                </div>
            </div>
            <div class="col-md-5">
                <a href="~/Videos/Details/24"><img class="img-responsive" src="~/Content/Image/chestScreenshot.jpg" /></a>
            </div>
        </div>
    </div>
    @*abs div*@
    <div class="container" id="abs" style="display:none; margin-top: 10px;">
        <a href="#" class="arrow" style="float:right;" onclick="closeWindowFour();"></a>
        <div class="row popUpDiv">
            <div class="col-md-7">
                <div class="row">
                    <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
                </div>
                <div class="row">
                    <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                    <button class="btn btn-default btn-outline btn-circle">Abs Activity History</button>
                </div>
            </div>
            <div class="col-md-5">
                <a href="~/Videos/Details/15"><img class="img-responsive" src="~/Content/Image/M Abs.png" /></a>
            </div>
        </div>
        <div class="row popUpDiv">
            <div class="col-md-7">
                <div class="row">
                    <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
                </div>
                <div class="row">
                    <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                    <button class="btn btn-default btn-outline btn-circle">Abs Activity History</button>
                </div>
            </div>
            <div class="col-md-5">
                <a href="~/Videos/Details/19"><img class="img-responsive" src="~/Content/Image/abScreenshot.jpg" /></a>
            </div>
        </div>
    </div>

@*Cardio div*@
<div class="container" id="cardio" style="display:none; margin-top: 10px;">
    <a href="#" class="arrow" style="float:right;" onclick="closeWindowFive();"></a>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Abs Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/9"><img class="img-responsive" src="~/Content/Image/M Abs.png" /></a>
        </div>
    </div>
    <div class="row popUpDiv">
        <div class="col-md-7">
            <div class="row">
                <h5>This video shows how to use a weighted barbell to perform back squats, and the reverse lunge.</h5>
            </div>
            <div class="row">
                <button class="btn btn-default btn-outline btn-circle">Record Activity</button>
                <button class="btn btn-default btn-outline btn-circle">Abs Activity History</button>
            </div>
        </div>
        <div class="col-md-5">
            <a href="~/Videos/Details/10"><img class="img-responsive" src="~/Content/Image/abScreenshot.jpg" /></a>
        </div>
    </div>

</div>








