body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#map {
    height: 50%;
}

#myBar {
    width: 10%;
    height: 30px;
    
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;

    background: #d80d0d;
    -webkit-animation-name: pulse; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@-webkit-keyframes pulse {
    0% {
        background: #d80d0d;
        
    }

    25% {
        background: #d80d0d;
        
    }

    50% {
        background: #d80d0d;
        
    }

    75% {
        background: #db4848;
    }

    85% {
        background: #d80d0d;
        
    }

    100% {
        background: #d80d0d;
        
    }
}

@keyframes pulse {
    0% {
        background: #d80d0d;
        
    }

    25% {
        background: #d80d0d;
        
    }

    50% {
        background: #d80d0d;
        
    }

    75% {
        background: #db4848;
    }

    100% {
        background: #d80d0d;
        
    }
}
